<!-- <button (click)="sideNav()"  type="button" >
    <i class="pi pi-bars"></i>
    
</button> -->
<!-- <p-toggleButton [(ngModel)]="checked" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton> -->
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark" id="navbar" *ngIf="auth.navbar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button"  (click)="sideNav()" >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>