
<div class="displayTable text-center" >
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
        <p class="text-center" >Please enter your email address to request a password reset.</p>
        <div class="formGroup t" >
          <input type="text" class="formControl" pInputText  class="p-inputtext" placeholder="Email Address" #passwordResetEmail required>
        </div><br>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <button pButton type="button"  class="p-button-sm" (click)="authservice.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </div>
      </div>
      <br>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" pButton class="p-button-sm" routerLink="/">Log In</span></span>
      </div>
    </div>
  </div>