<!-- <div class="card login-page">
    <div class=" mt-2 ">
      <div id="div2" class="flex flex-row flex-wrap card-container white-container justify-content-center ">
          <div class="flex  align-items-center justify-content-center w-25rem h-25rem bg-black-500 font-bold text-blue border-round m-2 ">
              <div class="" >
                  
                
                  <div class="loginpage h-32rem w-25rem p-5 ml-8">
                    <div class="img-login  ml-6">
                      <img class="ml-3" src="https://img1.wsimg.com/isteam/ip/ad9f9611-18da-4adc-8824-90b6c54786d4/492851_admin_256x256.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:365,h:365,cg:true" alt="">
                      <h2  class="ml-0" >Sign up page</h2>
                  </div>
                <form [formGroup]="signupForm"  (submit)="signup()" #register="ngForm"> 
                  <div class="field">
                     <span class="p-float-label">
                         <input  type="text" pInputText class="p-inputtext" name="username"  formControlName="username" [ngClass]="{'is-invalid':register.submitted && signupForm.get('username')?.invalid}"> 
                         <label for="float-input">Username</label>
                         <div class="mt-1" *ngIf="register.submitted && signupForm.get('username')?.invalid || signupForm.get('username')?.invalid && signupForm.get('username')?.touched " style="color: red ;">username is required</div>
                     </span>
                  </div>
                 
                
                <br>
                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input1" type="email" pInputText class="p-inputtext"  formControlName="email" #email [ngClass]="{'is-invalid':register.submitted && signupForm.get('email')?.invalid}"> 
                        <label for="float-input1">Email</label>
                        <div class="mt-1" *ngIf="register.submitted && signupForm.get('email')?.invalid || signupForm.get('email')?.invalid && signupForm.get('email')?.touched " style="color: red ;">email is required</div>
                        <div *ngIf="signupForm.get('email')?.errors?.['pattern']" style="color: red;">saaddsdd</div>
                      </span>
                 </div>
                <br>
                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input2" type="password" name="password" pInputText class="p-inputtext" formControlName="password" #password [ngClass]="{'is-invalid':register.submitted && signupForm.get('password')?.invalid}"> 
                        <label for="float-input2">Password</label>
                        <div class="mt-1" *ngIf="register.submitted && signupForm.get('password')?.invalid || signupForm.get('password')?.invalid && signupForm.get('password')?.touched" style="color: red ;">password is required</div>
                    </span>
                 </div>
                <br>
                  <div class="field">
                     <span class="p-float-label">
                         <input id="float-input3" type="password" pInputText class="p-inputtext " formControlName="confirm_password" [ngClass]="{'is-invalid':register.submitted && signupForm.get('confirm_password')?.invalid}"> 
                         <label for="float-input3">confirm password</label>
                         <div class="mt-1" *ngIf="register.submitted && signupForm.get('confirm_password')?.invalid || signupForm.get('confirm_password')?.invalid && signupForm.get('confirm_password')?.touched" style="color: red ;">confirm_password is required</div>
                     </span>
                  </div><br>
                  <div>
                    <button pButton type="submit"  class="p-button" >Sign-up</button> 
                  </div> 
                </form>
                </div>
              </div>
          </div>
          
      </div>
    </div>
  </div>
   -->
   
   <!-- <div class="card signup" >
    <div class=" mt-2 ">
      <div id="div2 " class="flex flex-row flex-wrap card-container white-container justify-content-center h-25rem">
          <div id="div3" class="flex  align-items-center justify-content-center w-25rem h-30rem bg-black-500 font-bold text-white border-round m-2 ">
              <div class="">
                  <div class="img-login  ml-7">
                      <img src="https://img1.wsimg.com/isteam/ip/ad9f9611-18da-4adc-8824-90b6c54786d4/492851_admin_256x256.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:365,h:365,cg:true" alt="">
                  </div>
                  
                  <h2 class="ml-3 " style="color:black;">Sign-up Page</h2><br>
                  <form [formGroup]="signupForm"  (submit)="signup()" #register="ngForm"> 
                    
                    <div class="field">
                       <span class="p-float-label">
                           class="form-control" pInputText class="p-inputtext" name="username"  formControlName="username" [ngClass]="{'is-invalid':register.submitted && signupForm.get('username')?.invalid}"> 
                           <label for="float-inp <input  type="text"ut">Username</label>
                           <div class="mt-1" *ngIf="register.submitted && signupForm.get('username')?.invalid || signupForm.get('username')?.invalid && signupForm.get('username')?.touched ">username is required</div>
                       </span>
                    </div>
                   
                  
                  <br>
                  <div class="field">
                      <span class="p-float-label">
                          <input id="float-input1" class="form-control" type="email" pInputText class="p-inputtext"  formControlName="email" #email [ngClass]="{'is-invalid':register.submitted && signupForm.get('email')?.invalid}"> 
                          <label for="float-input1">Email</label>
                          <div class="mt-1" *ngIf="register.submitted && signupForm.get('email')?.invalid || signupForm.get('email')?.invalid && signupForm.get('email')?.touched " >email is required</div>
                        </span>
                   </div>
                  <br>
                  <div class="field">
                      <span class="p-float-label">
                          <input id="float-input2" class="form-control" type="password" name="password" pInputText class="p-inputtext" formControlName="password" #password [ngClass]="{'is-invalid':register.submitted && signupForm.get('password')?.invalid}"> 
                          <label for="float-input2">Password</label>
                          <div class="mt-1" *ngIf="register.submitted && signupForm.get('password')?.invalid || signupForm.get('password')?.invalid && signupForm.get('password')?.touched" >password is required</div>
                      </span>
                   </div>
                  <br>
                    <div class="field">
                       <span class="p-float-label">
                           <input id="float-input3" class="form-control" type="password" pInputText class="p-inputtext " formControlName="confirm_password" [ngClass]="{'is-invalid':register.submitted && signupForm.get('confirm_password')?.invalid}"> 
                           <label for="float-input3">confirm password</label>
                           <div class="mt-1" *ngIf="register.submitted && signupForm.get('confirm_password')?.invalid || signupForm.get('confirm_password')?.invalid && signupForm.get('confirm_password')?.touched" >confirm_password is required</div>
                       </span>
                    </div><br>
                    <div>
                      <button pButton type="submit"  class="p-button" >Sign-up</button> 
                    </div> 
                  </form>
              </div>
      
          </div>
          
      </div>
    </div>
  </div>
   -->
   
   <!-- <div class="card ">  -->
<div class="card align-content-center p-4 mt-2   shadow-3 border-round w-full lg:w-full " id="maindiv" *ngIf="this.auth.visibleSidebar1==false">
  
<form [formGroup]="signupForm" #student="ngForm" (ngSubmit)="signup()" class="mt-8" >
  <!-- <div class="signform w-7 mt-4"> -->
     <div class="text-center mb-1">
      <img src="https://cdn4.vectorstock.com/i/1000x1000/40/68/student-logo-graduation-logo-vector-29014068.jpg" alt="Image" height="75" class="mb-3">
         <div class="text-900 text-3xl font-medium mb-3" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"><h2>Sign-up</h2></div>
   </div>
  <div class="formgrid grid lg:w-4   ">
        
      <div class="field col12 md:col-6">
        <label for="id">Username</label>
        <input id="id" icon="pi pi-user"  type="text" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"  formControlName="username" [ngClass]="{'is-invalid':student.submitted && signupForm.get('username')?.invalid ||  signupForm.get('username')?.touched && signupForm.get('username')?.invalid }">
        <div class="validation"  *ngIf="student.submitted && signupForm.get('username')?.invalid || signupForm.get('username')?.touched &&signupForm.get('username')?.invalid"> Username is required</div>
      </div>
    <div class="field col12 md:col-6">
        <label for="name">Email</label>
        <input id="name"  type="text" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"  formControlName="email" [ngClass]="{'is-invalid':student.submitted && signupForm.get('email')?.invalid ||  signupForm.get('email')?.touched && signupForm.get('email')?.invalid }">
           <div class="validation"  *ngIf="student.submitted && signupForm.get('email')?.invalid || signupForm.get('email')?.touched &&signupForm.get('email')?.invalid"> Email Id is required</div>
      </div>
    <div class="field col12 md:col-6">
      <label for="profile">Password</label>
      <input id="profile" type="password" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" formControlName="password" [ngClass]="{'is-invalid':student.submitted && signupForm.get('password')?.invalid ||  signupForm.get('password')?.touched && signupForm.get('password')?.invalid }">
      <div class="validation"  *ngIf="student.submitted && signupForm.get('password')?.invalid || signupForm.get('password')?.touched &&signupForm.get('password')?.invalid"> Password is required</div>
    </div>
  <div class="field col12 md:col-6">
      <label for="mobile">Confirm Password</label>
      <input id="mobile" type="password" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" formControlName="confirm_password" [ngClass]="{'is-invalid':student.submitted && signupForm.get('confirm_password')?.invalid ||  signupForm.get('confirm_password')?.touched && signupForm.get('confirm_password')?.invalid }">
      <div class="validation"  *ngIf="student.submitted && signupForm.get('confirm_password')?.invalid || signupForm.get('confirm_password')?.touched &&signupForm.get('confirm_password')?.invalid"> Confirm password is required</div>
    </div>
  
    <div class="field col-12 ">
      <button type="submit" pButton  label="Sign-up" icon="pi pi-user" class="p-button-outlined  p-button-sm  mt-3"></button> 
    
    </div>
  </div>
<!-- </div> -->
</form>
</div>