.ng-untouched.ng-invalid ~ label  {
    color: rgb(200, 19, 19); 
    
  }  
  .student{
    color: rgb(180, 42, 42); font-size: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #maindiv{
   margin: auto;
  }
  
   label{
    font-size: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   }

   @media only screen and (max-width:520px){
     .formgrid{
         justify-content: center;
     }
   }