<!-- <div class=" ">
<p-table [value]="Student" [rows]="5" [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>key</th>
            <th>student id</th>
            <th>Student name</th>
            <th>Student profile</th>
            <th>mobile number</th>
            <th>email</th>
            <th>address</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Student>
        <tr >
            <td>{{Student.$key}}</td>
            <td>{{Student.student_id}}</td>
            <td>{{Student.student_name}}</td>
            <td>{{Student.student_profile}}</td>
            <td>{{Student.mobile}}</td>
            <td>{{Student.email}}</td>
            <td>{{Student.address}}</td>
            <td>
                <button type="button" pButton class="p-button-help p-button-sm m-1"  routerLink="/edit/{{Student.$key}}" >Update</button>&nbsp;
                <button type="button" class="p-button-danger p-button-sm m-1"  pButton (click)="deletestudent(Student)"> Delete</button>
            </td>
        </tr>
    </ng-template>
</p-table><br>
<button type="button" class="p-button-primary p-button-sm mr-2 p-2 " style="float: right;" pButton routerLink="/studentform"> go to Add student</button>

</div> -->
<!-- <div class="card-container mb-8 ml-2">
    <table class="table table-striped" border="2" >
        <thead>
            <tr> <th>key</th>
                <th>student id</th>
                <th>Student name</th>
                <th>Student profile</th>
                <th>mobile number</th>
                <th>email</th>
                <th>address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let st of Student">
                <td>{{st.$key}}</td>
            <td>{{st.student_id}}</td>
            <td>{{st.student_name}}</td>
            <td>{{st.student_profile}}</td>
            <td>{{st.mobile}}</td>
            <td>{{st.email}}</td>
            <td>{{st.address}}</td>
            <td>
                <button type="button" pButton class="p-button-help p-button-sm m-1"  routerLink="/edit/{{st.$key}}" >Update</button>&nbsp;
                <button type="button" class="p-button-danger p-button-sm m-1"  pButton (click)="deletestudent(st)"> Delete</button>
            </td>
            </tr>
            </tbody>
    </table>
    
    </div> -->
    
    <p-table #dt [value]="students" [(selection)]="selectedStudents" [rowHover]="true"
    [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5]"  responsiveLayout="scroll"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" [globalFilterFields]="['student_id','student_name','student_profile','mobile','email','address']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            List of Students
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText #input type="text" (input)="dt.filterGlobal(input.value, 'contains')" placeholder="Global Search" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>key</th>
            <th>student id</th>
            <th>Student name</th>
            <th>Student profile</th>
            <th>mobile number</th>
            <th>email</th>
            <th>address</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Student>
        <tr >
            <td>{{Student.$key}}</td>
            <td>{{Student.student_id}}</td>
            <td>{{Student.student_name}}</td>
            <td>{{Student.student_profile}}</td>
            <td>{{Student.mobile}}</td>
            <td>{{Student.email}}</td>
            <td>{{Student.address}}</td>
            <td>
                <button type="button" pButton class="p-button-help p-button-sm m-1"  routerLink="/edit/{{Student.$key}}" >Update</button>&nbsp;
                <button type="button" class="p-button-danger p-button-sm m-1"  pButton (click)="deletestudent(Student)"> Delete</button>
            </td>
        </tr>
    </ng-template>
       


            <!-- <td>
                <span class="p-column-title">Date</span>
                {{customer.date | date: 'MM/dd/yyyy'}}
            </td>
            <td>
                {{customer.balance | currency:'USD':'symbol'}}
            </td> -->
            <!-- <td>
                <span class="p-column-title">Status</span>
                <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
            </td>
            <td>
                <span class="p-column-title">Activity</span>
                <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
            </td>
            <td style="text-align: center">
                <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
            </td> -->
        <!-- </tr>
    </ng-template> -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>

