<div class="surface-card  mt-3  ml-1 w-full lg:w-8  " id="maindiv">

    <p>contact works!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora tenetur, sapiente eaque reiciendis fugit enim ea adipisci consectetur reprehenderit cupiditate atque, explicabo unde pariatur maxime illum aliquam! Similique, modi tenetur?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora tenetur, sapiente eaque reiciendis fugit enim ea adipisci consectetur reprehenderit cupiditate atque, explicabo unde pariatur maxime illum aliquam! Similique, modi tenetur?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora tenetur, sapiente eaque reiciendis fugit enim ea adipisci consectetur reprehenderit cupiditate atque, explicabo unde pariatur maxime illum aliquam! Similique, modi tenetur?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora tenetur, sapiente eaque reiciendis fugit enim ea adipisci consectetur reprehenderit cupiditate atque, explicabo unde pariatur maxime illum aliquam! Similique, modi tenetur?</p>
</div>